
<!-- Table 'sys_date_format' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]
<fieldset>
[#if ID=""#]
<legend><#LANG_NEW_RECORD#></legend>
[#endif ID#]
<!-- TITLE (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_TITLE#>:
 (*)
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"></div>
</div>
<!-- FORMAT (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_FORMAT#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_FORMAT#>:
 </label>
 	<div class="col-lg-4">
	<select class="form-control" name="format">
		<option value="H"[#if format=="H"#] selected[#endif#]>Часы</option>
		<option value="i"[#if format=="i"#] selected[#endif#]>Минуты</option>
		<option value="s"[#if format=="s"#] selected[#endif#]>Секунды</option>
		<option value="H:i"[#if format=="H:i"#] selected[#endif#]>ЧЧ:ММ</option>
		<option value="H:i"[#if format=="H:i:s"#] selected[#endif#]>ЧЧ:ММ:СС</option>
		<option value="d"[#if format=="d"#] selected[#endif#]>Число</option>
		<option value="N"[#if format=="N"#] selected[#endif#]>День недели (порядковый номер)</option>
		<option value="W"[#if format=="W"#] selected[#endif#]>Неделя (порядковый номер в году)</option>
		<option value="m"[#if format=="m"#] selected[#endif#]>Месяц (порядковый номер)</option>
		<option value="Y"[#if format=="Y"#] selected[#endif#]>Год (4 цифры)</option>
		<option value="y"[#if format=="y"#] selected[#endif#]>Год (2 цифры)</option>
		<option value="m1"[#if format=="m1"#] selected[#endif#]>Месяц (родительный падеж)</option>
		<option value="d1"[#if format=="d1"#] selected[#endif#]>Полная дата (ЧЧ Месяца ГГГГ)</option>
		<option value="n1"[#if format=="n1"#] selected[#endif#]>День недели (полный)</option>
		<option value="n2"[#if format=="n2"#] selected[#endif#]>День недели (короткий)</option>
	</select> 
	</div>
</div>
<!-- LINKED_OBJECT (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_LINKED_OBJECT#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_LINKED_OBJECT#>:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="linked_object" value="[#LINKED_OBJECT#]" id="linked_object"></div>
</div>
<!-- LINKED_PROPERTY (varchar) -->
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_LINKED_PROPERTY#] style="color:red;font-weight:bold"[#endif#]>
 <#LANG_LINKED_PROPERTY#>:
 </label>
 <div class="col-lg-4"><input type="text" class="form-control" name="linked_property" value="[#LINKED_PROPERTY#]" id="linked_property"></div>
</div>
[#module name="linkedobject" object_field="linked_object" property_field="linked_property" method_field="linked_method"#]
<div class="form-group">
        <div class="col-lg-offset-3 col-lg-4">
 [#if ID!=""#]
 <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
 [#else ID#]
 <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
 [#endif ID#]
 <a href="?" class="btn btn-default "><#LANG_CANCEL#></a>
<input type="hidden" name="id" value="<#ID#>">
<input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
<input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
<input type="hidden" name="mode" value="update">
        </div>
</div>
</fieldset>
</form>
